name: Compile
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        cxx: [g++-8, clang++]
    env:
      CXX: ${{ matrix.cxx }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        run: |
          ./installDependencies.sh
      - name: Set up Build
        run: |
          mkdir build
          cd build
          cmake ..
      - name: Build
        run: |
          cd build
          make
      - name: Install
        run: |
          cd build
          sudo make install
